@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../../components/Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

@media (max-width: 1920px){
    html{
        font-size: 20px;
    }
}
@media (max-width: 1600px){
    html{
        font-size: 18.5px;
    }
}
@media (max-width: 1536px){
    html{
        font-size: 17.5px;
    }
}
@media (max-width: 1400px){
    html{
        font-size: 16.5px;
    }
}
@media (max-width: 1280px){
    html{
        font-size: 15.5px;
    }
}

@media (max-width: 960px){
    html{
        font-size: 12px;
    }
}

.error_img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 95rem;
    height: 47rem;
}

.error{
    position: absolute;
    width: 19.85rem;
    height: 12.2rem;
    left: 38.15rem;
    top: 13.7rem;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 12.2rem;
    text-align: center;
    
    color: #000000;
}

.error_text{
/* Страница не найдена */
    position: absolute;
    width: 56.8rem;
    height: 6.1rem;
    left: 20rem;
    top: 25.75rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 6.1rem;
    text-align: center;

    color: #000000;

}





