@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #0F2232;
}
body{
    min-height: 100%;
    background-color: #8b8b8b;
}

main {
    width: 90%;
    margin: 0 auto;
    display: grid;
}
h1 {
    font-size: 1.6rem;
    align-self: center;
}
.main_header{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    justify-content: start;
    z-index: 50;
    position: fixed;
    background-color: transparent;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    width: 100%;
}
.back_button {
    width: 2rem;
    cursor: pointer;
}

h4 {
    margin-top: 4rem;
    font-size: 1rem;
    font-weight: 400;
    color: #a1a5a8;
    align-self: center;
    justify-self: center;
}

.img_stat {
    width: 20rem;
    height: 20rem;
    margin-top: 5rem;
    align-self: center;
    justify-self: center;
}
@media (max-width: 800px){
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 0.7rem;
    }

    .back_button {
        width: 1.8rem;
    }
}
