@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(components/Montserrat-VariableFont_wght.ttf);
}

.heading{
    width:100%;
    display: flex;
    z-index: 1000;
    background-color: #FFF;
}
.heading .title{
    width: 100%;
    margin-left: 6rem;
    margin-top: 1.2rem;
    font-size: 1.3rem;

    font-weight: bold;
    width:100%;

    resize: none;
    background-color: transparent;
    border: none;
}

.title:focus {
    outline: none;
}

.panels{
    display: block;
    margin-top: 1rem;
}

.text-input{
    margin-top: 2rem;
    width: 70vw;
    left: 12rem;
}

.buttons{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;

    margin-left: 12rem;
    align-items: center;;
}

.button-delete{
    left: 59rem;
    bottom: 3rem;

    width: 3rem;
    height: 3rem;
}
.button_blue{
    width: 12rem;
    height: 3rem;
    border-radius: 0.8rem;
    font-size: 0.9rem;
}
.button_red{
    height: 3rem;
    width: 8rem;
    font-size: 0.9rem;
    border-radius: 0.8rem;
}
.video-input{
    max-width: 40rem;
}
.video-input__upload{
    left: 42rem;
    top: 10rem;
}
/* .videoPlayer{
    width: 55vw;
    height: 35vw;
    display: flex;
    justify-content: center;
} */
/* .video__box{
    width: 55vw;
    height: 35vw;
} */
.video__box iframe, .video__box video{
    width: 55vw;
    height: 35vw;
    left: 36rem;
    display: flex;
    justify-content: center;
}
/* @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(components/Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #0F2232;
}
/* html{
    font-size: 20px;
} */
/*body{
    min-height: 100%;
}
.heading{
    width:100%;
    display: grid;
    grid-template-columns: 8rem 5fr 1fr;
    grid-template-rows: 4rem;
    align-items: center;
    z-index: 1000;
    position: fixed;
    background-color: #FFF;
}
.heading textarea{
    margin-left: 0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
    grid-column: 2;
    height: 1.5rem;
    resize: none;
    background: none;
    border-style: none;
    overflow: hidden;
}
.heading svg{
    justify-self: flex-end;
    height: 1.4rem;
    width: 1.4rem;
    grid-column: 1;
}
/* .video{
    width: 55vw;
    height: 35vw;
    cursor: pointer;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    margin-top: 1rem;
    
} */
/* .iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: auto;
} */
/*.container video-input{
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: auto;*/
    /*grid-column:2;
    grid-row: 2;

}
.videoPlayer{
    grid-row: 2;
    grid-column: 2;
}
.text-input{
    grid-row: 2;
    grid-column: 2;
}
.lecture{
    grid-column:2;
    grid-row: 3;
    justify-self: center;
    align-self: flex-start;
    width: 70vw;
    font-size: 1.1rem;
    height:auto;
    text-align: justify;
    resize: none;
    background: none;
    border-style: none;
    margin: 2rem;
    text-indent: 4rem;
}
.container{
    display:grid;
    grid-template-rows: 4rem auto auto auto;
    grid-template-columns: 4rem 1fr;
}
.container custom-button-blue{
    grid-column: 2;
    grid-row: 4;
    justify-self: flex-start;
    margin-left: 9rem;
}
.container custom-button-red{
    grid-column: 2;
    grid-row: 4;
    margin-left: 24rem;
}
.button_red{
    width: 9rem;
    height: 3rem;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0rem 9.5rem 2rem 0rem;
}
.button_blue{
    width: 13rem;
    height: 3rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0.8rem;
} */