@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../../components/Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* Медиа */
@media (max-width: 1920px){
    html{
        font-size: 20px;
    }
}
@media (max-width: 1600px){
    html{
        font-size: 16.5px;
    }
}
@media (max-width: 1536px){
    html{
        font-size: 15.5px;
    }
}
@media (max-width: 1400px){
    html{
        font-size: 14.5px;
    }
}
@media (max-width: 1280px){
    html{
        font-size: 13.5px;
    }
}

@media (max-width: 960px){
    html{
        font-size: 10px;
    }
}

/* Первые 3 элемента */

.container1{
    display: flex;

    width: 48rem;

    position: relative;
    left: 12rem;
    top: 3rem;
    gap: 6rem;
}

/* Кнопка назад */

.back-bt{

    position: relative;
    left: 5rem;
    top: 7rem;

    width: 4rem;
    height: 3rem;
    
    background-image: url(../svg/Buttons/left.svg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;

    transition: all 0.2s ease;
}

.back-bt:hover{
    background-image: url(../svg/Buttons/left_hov.svg);
}

/* Средние 2 элемента */

.container2{
    display: flex;

    width: 52rem;

    position: relative;

    left: 12rem;
    top: 6rem;

    gap: 6rem;
}

.block{
    display: flex;
    flex-direction: column;
}


.block-title{
    width: 20rem;

    margin-left: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;


    color: #0F2232;
}


.block-text{
    width: 23rem;
    height: 4rem;

    padding: 0.6rem 0.6rem 0 1rem;

    background: #E9ECEE;
    border: none;
    border-radius: 1rem;

    resize: none;
    overflow: hidden;

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 3rem;

    color: #0F2232;
}

.input:-webkit-autofill{
    transition: all 5000s ease-in-out 0s;
}

.input{
    padding: 0rem 0.6rem 0 1rem;
}

.blocked_title{
    opacity: 0.6;
}

.blocked_text{
    pointer-events: none;
    opacity: 0.6;
}
/* Последний блок */

.last-block{
    width: 23rem;
    position: relative;
    left: 12rem;
    top: 9rem;
}

/* Изменения для админа */

.buttons{
    width: 33rem;

    position: relative;
    left: 12rem;
    top: 13rem;

    display: flex;
    gap: 5rem;
}

.button_red{
    width: 12rem;
    height: 3.5rem;

    border-radius: 1rem;
}

.container3{
    display: flex;

    width: 52rem;

    position: relative;

    left: 12rem;
    top: 9rem;

    gap: 6rem;
}

.helper{
    position: relative;
    left: 12rem;
    top: 15rem;
}

.title-error{
    position: relative;
    left: 8rem;
    top: 3rem;

    font-weight: 400;

    color: #FF0000;
}

/* Считавание ошибок */

.error{
    color: white;
    background-color: #FF4346;
    -webkit-text-fill-color: white;
    animation: shake 0.5s ease-in-out forwards;
}

.error:focus-visible{
    outline: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-0.5rem); }
    40% { transform: translateX(0.5rem); }
    60% { transform: translateX(-0.5rem); }
    80% { transform: translateX(0.5rem); }
    100% { transform: translateX(0); }
}

