@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../../components/Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* Заголовок */

.container{
    display: flex;

    width: 48rem;

    position: relative;
    left: 5rem;
    top: 7rem;
    gap: 6rem;
}

.title{

    width: 39rem;

    font-weight: 700;
    font-size: 2.3rem;
    line-height: 3rem;

    color: #0F2232;
}

/* Кнопка назад */

.back-bt{
    width: 4rem;
    height: 3rem;
    
    background-image: url(../svg/Buttons/left.svg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;

    transition: all 0.2s ease;
}

.back-bt:hover{
    background-image: url(../svg/Buttons/left_hov.svg);
}

/* Старый пароль*/

.old{
    width: 23rem;
    display: flex;
    position: relative;
    left: 18rem;
    top: 9rem;
}

/* Последние 2 блока*/

.information{
    display: flex;

    width: 52rem;

    position: relative;

    left: 18rem;
    top: 12rem;

    gap: 6rem;
}

.block{
    display: flex;
    flex-direction: column;
}


.block-title{
    width: 20rem;

    margin-left: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;


    color: #0F2232;
}

.title-error{
    position: relative;
    left: 18rem;
    top: 9rem;

    color: #FF0000;
}

.block-text{
    width: 23rem;
    height: 4rem;

    padding: 0.6rem 0.6rem 0 1rem;

    background: #E9ECEE;
    border: none;
    border-radius: 1rem;

    resize: none;
    overflow: hidden;

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 3rem;

    color: #0F2232;
}

.input{
    padding: 0rem 1rem 0 1rem;
}

/* Кнопки */

.buttons{
    width: 33rem;

    position: relative;
    left: 18rem;
    top: 14.7rem;

    display: flex;
    gap: 5rem;
}

.button_red{
    width: 12rem;
    height: 3.5rem;

    border-radius: 1rem;
}

.button_white{
    width: 12rem;
    height: 3.55rem;

    border-radius: 1rem;
}

.pass-btn{
    width: 3rem;
    height: 3rem;

    position: relative;

    left: 72rem;
    top: 8.5rem;

    background-image: url(../svg/Buttons/HidePass.svg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;

    transition: all 0.2s ease;
}

.pass-btn:hover{
    opacity: 0.8;
}

/* Визуал ошибки */

.error{
    color: white;
    background-color: #FF4346;
    -webkit-text-fill-color: white;
    animation: shake 0.5s ease-in-out forwards;
}

.error:focus-visible{
    outline: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-0.5rem); }
    40% { transform: translateX(0.5rem); }
    60% { transform: translateX(-0.5rem); }
    80% { transform: translateX(0.5rem); }
    100% { transform: translateX(0); }
}

