@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../../components/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #0F2232
}
body{
    height: 100%;
    width: 100%;
}

html{
    font-size: 20px;
}

main {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 10fr; 
    column-gap: 2rem;
    justify-content: start;
}

.main__test {
    
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    position: relative;
    align-content: start;
    /* padding-bottom: 4rem; */
    padding-top: 8rem;

}
.header {
    width: 100%;
    z-index: 3;
    padding-top: 0.6rem;
    position: fixed;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;

}
.name__header {
    min-width: max-content;
    align-items: center;
    display: flex;
    font-size: 1.3rem;

}

.cs {
    min-width: 3.5rem;
}

.header svg {
    height: 1.4rem;
    width: 1.4rem;
}

.header h1 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-left: 0.8rem;
    
}

.main__test h2{
    font-weight: 400;
    font-size: 0.9rem;
    color: #FF0000;
    margin-bottom: 1rem;
    display: none;
}

.test {
    margin-top: 7rem;
    margin-left: 4rem;

}
.name__question {
    font-weight: 500;
    /* font-size: 1.8rem; */
}

.question {
    margin-bottom: 1.2rem;
}

.answers__question {
    margin-top: 1rem;
    margin-left: 1rem;

}


.text {
    font-weight: 400;
    font-size: 0.9rem;
}

.label {
    margin-bottom: 0.9rem;
}


.btn-box {    
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.button_blue{
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    height: 3rem;
    width: 9rem;
    
}

.button_red{
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    
}

custom-button-blue{
    justify-self: center;
    margin-left: 4rem;
}

.progress_bar{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 2rem;
    justify-content: center; 
    align-items: center;

}
custom-progressbar-small{
    justify-self: center;
}
.progressbar-text{
    font-weight: 600;
    font-size: 1.6rem;
    color: #FF0000;
    text-align: center;
}