@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #0F2232;
}
html{
    font-size: 20px;
}
body{
    min-height: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1rem;
}

h1 {
    font-size: 1.6rem;
    align-self: center;
}
.main_header{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    justify-content: start;
}
.back_button {
    width: 2rem;
    cursor: pointer;
}
.button_plus{
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 25%;
}
.button_plus_svg{
    width: 1rem;
    height: 1rem;
}

@media (max-width: 800px){
    h1 {
        font-size: 1.2rem;
    }

    .back_button {
        width: 1.8rem;
    }
    .button_plus{
        height: 1.8rem;
        width: 1.8rem;
    }
}