@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

*{
    font-family: 'Montserrat';
    font-weight: 600;
    color:#0F2232;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    height: 100%;
}

html{
    font-size: 20px;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto; 
    column-gap: 2rem;
    justify-content: start;
}

.cs{
    background-color: aquamarine;
    width: 4.6rem;
}
.main__test {

    margin-top: 4rem;
    display: grid;
    grid-template-rows: auto auto;
    position: relative;
    align-content: start;
    justify-content: start;
    /* background: #87c9ff; */

}
.header {
    position:relative;
    font-size: 2rem;

}
.test {
    margin-left: 8rem;
}