@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

.main {
    display: grid;
    grid-template-rows:  auto auto;
    width: 90%;
    margin: 0 auto;
}

.list__main {
    margin: 0 auto;
    width: 100%;
}
.header__main {
    padding-top: 8rem;
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
}

.go-back__main {
    display: flex;
    font-size: 20pt;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    text-align: left;
    margin-right: 0.8rem;
}
.title__main {
    display: flex;
    font-size: 25pt;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    text-align: left;
    margin-right: 2rem;
}
.add-user__main {
    
}