@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
html{
    font-size: 20px;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.header{
    width: 100%;
    height: 3.7rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0vw 4vw;
    display: flex;
    background: #E9ECEE;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 0rem 0rem 1.1rem 1.1rem;
}

.logo{
    margin-top: 0.5vh;
    width:6.5rem;
    height:2rem;
}
.navbar{
    align-items: center;
}

.navbar a{
    position: relative;
    font-size: 0.9rem;
    color:#0F2232;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin-left: 2.3rem;
    bottom:0.3rem;
}
#lk{
    margin-left:2.7rem;
    bottom:0rem;
    svg{
        width: 1.4rem;
        height:1.5rem;
    }
}
#logout{
    margin-left: 0.9rem;
    margin-right: 0rem;
    bottom:0rem;
    svg{
        width:1.4rem;
        height:1.4rem; 
    }
}

.navbar a::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0.11rem;
    background: #EC1C24;
    transition: 0.3s;
    border-radius: 4rem;
}
.navbar a:hover:before{
    width: 100%;
}
.navbar a:hover{
    color:#EC1C24;
    svg{
        path{
            stroke: #EC1C24;
        }
    }
}

h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    color: #0F2232; 
    font-size: 4rem;
    font-family: 'Montserrat';
    font-style: bold;
    text-align: center;
    position: relative;
}


.button_red{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.4rem;
    background: #FF0000;
    border-radius: 1rem;
    border-style: none;
    margin-top: 4rem;
    margin-left: 12%;
    position: relative;
    float: left;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.button_red:hover{
    background: #EB0000;
}
.button_red:active{
    background: #dd7679;
}
.button_red:disabled{
    background: #F6999C;
}



.button_white{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.4rem;
    background: #FFFFFF;
    border: 3px solid #FF0000;
    border-radius: 1rem;
    margin-top: 4rem;
    margin-left: 12%;
    position: relative;
    float:left;
    clear: both;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
    color: #FF0000;
}
.button_white:hover{
    background: #FFF5F5;
    color: #EB0000;
    border-color:#EB0000;
}
.button_white:active{
    background: #ffd6d6;
    color: #AC0000;
    border-color: #AC0000;
}
.button_white:disabled{
    background: #EFEFEF;
    color: #F6999C;
    border-color: #F6999C;
}


.button_blue{
    margin-top: 4rem;
    margin-left: 70%;
    position: relative;
    width: 10rem;
    height: 3.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid #6B80A0;
    border-radius: 1rem;
    text-align: right;
    font-size: 1.15rem;
    font-weight: 600;
    color: #0F2232;
    background-color: #FFFFFF;
}
.button_blue:hover{
    background: rgb(248, 251, 255);
}

.button_blue:active{
    background: #ececec;
    border-color: #12629c;
}
.button_blue:disabled{
    background: #EFEFEF;
    color: #8A8A8A;
}

.button_plus{
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: #FF0000;
    border-style: none;
    border-radius: 0.8rem;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.button_plus_svg{
    width:1.8rem;
    height:1.8rem;
}

.button_plus:hover
{
    background: #EB0000;
}
.button_plus:active{
    background: #dd7679;
}
.button_plus:disabled{
    background: #F6999C;
}

@media (max-width: 800px){
    .navbar a{
        font-size: 0.7rem;
        margin-left: 0.5rem;
    }
    #lk{
        margin-left:1.5rem;
        svg{
            width:1.2rem;
            height:1.3rem;
        }
    }
    #logout{
        margin-left: 0.8rem;
        margin-right: 0rem;
        bottom:0rem;
        svg{
            width:1.2rem;
            height:1.2rem; 
        }
    }
    
    .logo{
        width:5.5rem;
        height:1.8rem;
    }
}
@media (max-width: 400px){
    .navbar a{
        font-size: 0.6rem;
        margin-left: 0.5rem;
    }
    .navbar a::before{
        height: 0.07rem;
    }

    #lk{
        margin-left:1rem;
        svg{
            width:0.9rem;
            height:1rem;
        }
    }
    #logout{
        margin-left: 0.3rem;
        margin-right: 0rem;
        bottom:0rem;
        svg{
            width:0.9rem;
            height:0.9rem; 
        }
    }
    
    .logo{
        width:4.5rem;
        height:1.6rem;
    }
}
