@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../../components/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #0F2232
}
body{
    height: 100%;
    width: 100%;
    background-color: #E9ECEE;
}

html{
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    justify-items: center; 
    align-items: center;
}

.logo {
    /* display: flex;
    align-content: center; */
    /* justify-self: center; */
    width: 20rem;
    height: 20rem;
    
}

.logo img {
    width: 18rem;
}
.auth {
    /* display: flex;
    align-content: center; */
}

.auth_form {
    width: 20rem;
    height: 20rem;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.auth_form h1 {
    font-weight: 800;
    font-size: 1.5rem;
    color: #FF0000;
    
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


.block-title{
    width: 20rem;

    margin-left: 5rem;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0.4rem;

    justify-self: center;
    color: #0F2232;
}

.title-error{
    position: relative;
    left: 18rem;
    top: 12rem;

    color: #FF0000;
}

.block-text{
    width: 16rem;
    height: 2.5rem;

    padding: 0.6rem 0.6rem 0 1rem;

    background: #ffffff;
    border: none;
    border-radius: 0.8rem;

    resize: none;
    overflow: hidden;

    font-weight: 500;
    font-size: 1rem;
    line-height: 3rem;

    color: #0F2232;
}

.input{
    padding: 0rem 0.6rem 0 1rem;
}

.button_red{
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    height: 3rem;
    width: 8rem;   
    cursor: pointer;
}

custom-button-red{
    margin-top: 4rem;
}

.pass-btn{

    background-image: url(../svg/Buttons/HidePass.svg);

    position: absolute; /* Устанавливаем элемент в позицию absolute */
    right: 0.3rem; /* Располагаем элемент у правого края контейнера */
    top: 50%; /* Центрируем элемент по вертикали */
    transform: translateY(-50%); /* Корректируем вертикальное смещение, чтобы центрировать элемент */
    width: 1.5rem; /* Устанавливаем желаемую ширину кнопки */
    height: 1.5rem; /* Устанавливаем желаемую высоту кнопки */
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
}

.pass-btn:hover{
    opacity: 0.8;
}

.password-container {
    position: relative;
}

.error-message {
    color: #FF0000;
    font-size: 1rem;
}