@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../../components/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #0F2232
}
body{
    height: 100%;
    width: 100%;
}

html{
    font-size: 20px;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto; 
    column-gap: 10rem;
    justify-content: start;
}

.main__test {
    
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    position: relative;
    align-content: start;
    padding-bottom: 4rem;

}
.header {
    z-index: 3;
    padding-top: 2rem;
    position: fixed;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    background-color: #FFFFFF;

}
.name__header {
    min-width: max-content;
    align-items: center;
    display: flex;

}

.header svg {
}

.header h1 {
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    
}

.main__test h2{
    font-weight: 400;
    font-size: 0.9rem;
    color: #FF0000;
    margin-bottom: 1rem;
    display: none;
}

.test {
    margin-top: 7rem;
    margin-left: 4rem;

}
.name__question {
    font-weight: 500;
    /* font-size: 1.8rem; */
}

.question {
    margin-bottom: 1.2rem;
}

.answers__question {
    margin-top: 1rem;
    margin-left: 1rem;

}


.text {
    font-weight: 400;
    font-size: 0.9rem;
}

.label {
    margin-bottom: 0.9rem;
}
.button_blue{
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    height: 3rem;
    width: 9rem;
    
}

.button_red{
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    height: 3rem;
    width: 9rem;
    
}

custom-button-blue{
    justify-self: flex-end;
}

