.answer-input{
    width: 75vw;
    height: 30vh;
}

.answer-input__text{
    width: 75vw;
    height: 30vh;
    min-height: 30vh;
    max-height: 50vh;
    padding: 20px 60px 20px 20px;
    resize: none;

    overflow:visible;

    background: #F3F5F6;
    border: none;
    border-radius: 15px;

    font-size: 16px;
    max-block-size: 10;
}

.answer-input__text::placeholder{
    font-family: 'Montserrat';

    font-weight: 450;
    font-size: 16px;
}



.answer-input__field {
    position: absolute;
    right: 12%;
    top: 25%;  
    cursor: pointer;
}


.answer-input__field svg{
    width: 1rem;
    height: 2rem;
    object-fit: cover;
}

.answer-input__field input{
    display: none;
}

/* Загруженный файл */
.file__box{
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.file__box img{
    width: 3.8rem;
    height: 4rem;
    object-fit: cover;
    margin-right: 0.5rem;
}

.file__box-label{
    font-size: 0.75rem;
    min-width: 10rem;
}

.file__box .button-delete{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("svg/delete.svg");
    background-size: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}


/* Драгндроп полю файлов */

.answer-input__text.drop {
    background: rgba(15, 34, 50, 0.09);
}
