<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Кнопки</title>
<link rel="stylesheet" type="text/css" href="buttons_style.css">
</head>
<body>
<button class="button_red">Отправить</button>
    <button class="button_white">Отмена</button>
    <button class="button_blue">Назад к карте</button>
    <button class="button_plus">
        <svg class="button_plus_svg" viewBox="0 0 38 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.5456 32.6257V18.0423M18.5456 18.0423V3.45898M18.5456 18.0423L2.50391 18.0423M18.5456 18.0423L34.5872 18.0423" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</body>
</html>