<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Модальное окно</title>
<link rel="stylesheet" type="text/css" href="comment-admin.css">
</head>
<body>
    
    <!-- Окошко для написания комментария (админ) -->
    <div class="comment-admin">
        <img src="img/A.svg" class="comment-admin__img">
        <textarea class="comment-admin__text"  placeholder="Напишите комментарий к этому ответу" oninput="auto_grow(this)"></textarea>
    </div>


    <script src="comment-admin.js"></script>
</body>
</html>