
/* Мишина часть*/

/* Комментарий (пользователь) */

.comment-user{
    display: flex;

    width: 80vw;
    height: auto;
    border-radius: 15px;
    background: #FFFFFF;
    border: 2px solid #0F2232;
}


.comment-user__img{
    justify-self: flex-start;
    align-self: flex-start;
    margin: 1.2rem 1rem 0 1rem;
    width: 2rem;
    height: 2rem;

    object-fit: cover;
}


.comment-user__text{

    width: 100%;
    height: auto;
    margin: 1rem 1rem 1rem 0;

    font-size: 1rem;

    overflow: hidden;
    pointer-events: none;
    resize: none;
    border-style: none;
}
