<html>
<head>
    <title></title>
</head>
<body>
        <!-- <div>
            <label class="label">
                <input id = "check" type="checkbox" class="checkbox" value="yes">
                
                <span class="fake"></span>
                <span class="text">da?</span>
            </label>
                
        </div>
        <div>
            <label class="label">
                <input id="radio1" type="radio" class="radiobutton" name="radioGroup" value="no">           
                <span class="fake-radio">
                </span>
                <span class="text-radio">bebebe</span>
            </label>
        </div>
        <div>
            <label class="label">
                <input id="radio2" type="radio" class="radiobutton" name="radioGroup" value="yes">           
                <span class="fake-radio"></span>
                <span class="text-radio">y ruski</span>
            </label>
        </div> -->

        <script src="components.js"></script>
        <main>
            <user-list></user-list>>
        </main>
        <script>
            // const radio = document.getElementById("check");
            // setTimeout(() => {
            //     radio.setAttribute('disabled', true)
            // }, 5000);
            
        </script>
</body>
</html>
