<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Модальное окно</title>
<link rel="stylesheet" type="text/css" href="modal.css">
</head>
<body>
    <button class="button-blue" id="open-modal-btn">Модальное</button>
    
    <!-- Модальное окно  -->
    <div class="modal" id="exit-modal">
        <div class="modal__box">
            <h2 class="modal__box-header"> Внимание!</h2>
            <p class="modal__box-text">Вы уверены что хотите выйти из данного аккаунта?</p>

            <button class="button-red" id="No-btn">Нет</button>             
            <button class="button-blue" >Да</button>
        </div>
    </div>

    <script src="modal.js"></script>
</body>
</html>