<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Progress bar small</title>
<link rel="stylesheet" type="text/css" href="progress_bar_small_style.css">
</head>
<body>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">0%
                        </div>
                    </div>
                </div>

                <svg id="percentages" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                    <linearGradient id="GradientColor">
                        <stop class="circle_progress" offset="100%" stop-color="#EC1C24" />
                    </linearGradient>
                    </defs>
                    <circle class="circle" cx="-8.5rem" cy="8.5rem" r="7.5rem" stroke-linecap="round" transform="rotate(-90 0 0)"/>
                </svg>
            </div>
    <script src="scripts/progress_bar_small.js"></script>
</body>
</html>